<form action="{{ path('admin_check_login') }}" method="post">
    {{ error }}
    <input type="text" name="_username" value="" />
    <input type="password" name="_password" value="" />
    <input type="submit" />
</form>